<mat-card class="edit-profile-card">
  <mat-card-content>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <!-- Profile Image Upload -->
      <input id="profile-image" type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;">

      <!-- Label for the File Input -->
      <label for="profile-image" style="cursor: pointer;">
        <div *ngIf="imagePreview">
          <!-- Display Profile Image Preview (clickable) -->
          <img [src]="imagePreview" alt="{{'pages.profile.image.preview' | translate}}" style="max-width: 150px; height: auto; border-radius: 50%;">
        </div>
        <!-- Fallback for when no image is available -->
        <div *ngIf="!imagePreview" style="width: 150px; height: 150px; border-radius: 50%; background-color: #ccc; display: flex; justify-content: center; align-items: center;">
          <p>{{"pages.profile.input.image.upload-message" | translate}}</p>
        </div>
      </label>

      <!-- Name and Last Name Fields (Readonly) -->
      <div class="name-fields">
        <mat-form-field class="half-width" appearance="outline">
          <mat-label>{{"pages.profile.input.first-name" | translate}}</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="editForm.get('name')?.invalid">{{"pages.profile.input.error.first-name-required"  | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
          <mat-label>{{"pages.profile.input.last-name" | translate}}</mat-label>
          <input matInput formControlName="lastName" required>
          <mat-error *ngIf="editForm.get('lastName')?.invalid">{{"pages.profile.input.error.last-name-required"  | translate}}</mat-error>
        </mat-form-field>
      </div>

      <!-- Email Field (Readonly, separate row) -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{"pages.profile.input.email" | translate}}</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="editForm.get('email')?.invalid">{{ "pages.profile.input.error.email-required"  | translate }}</mat-error>
      </mat-form-field>

      <!-- Password Field (Editable, separate row) -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{"pages.profile.input.password" | translate}}</mat-label>
        <input matInput formControlName="password" type="password" required>
        <mat-error *ngIf="editForm.get('password')?.invalid">{{ "pages.profile.input.error.password-required" | translate}}</mat-error>
      </mat-form-field>

      <!-- Phone Field (Editable, separate row) -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{"pages.profile.input.phone" | translate}}</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>

      <!-- Address Field (Editable, separate row) -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{"pages.profile.input.address" | translate}}</mat-label>
        <input matInput formControlName="address">
      </mat-form-field>

      <!-- DNI and Birthday in the same row -->
      <div class="name-fields">
        <mat-form-field class="half-width" appearance="outline">
          <mat-label>{{"pages.profile.input.dni" | translate}}</mat-label>
          <input matInput formControlName="dni" required>
          <mat-error *ngIf="editForm.get('dni')?.invalid">{{"pages.profile.input.error.dni-required"  | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
          <mat-label>{{"pages.profile.input.birthday" | translate}}</mat-label>
          <input matInput formControlName="birthday" type="date" required>
          <mat-error *ngIf="editForm.get('birthday')?.invalid">{{"pages.profile.input.error.birthday-required"  | translate}}</mat-error>
        </mat-form-field>
      </div>

      <!-- Description Field (Editable) -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{"pages.profile.input.description" | translate}}</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <!-- Submit Button -->
      <button mat-raised-button color="primary" type="submit">{{"pages.profile.input.save-button" | translate}}</button>
    </form>
  </mat-card-content>
</mat-card>
