
<!--<h2>Filters:</h2>-->
<!--<div class="filter-section">-->
<!--  <mat-form-field class="input-list">-->
<!--    <mat-label>Year</mat-label>-->
<!--    <mat-select [ngModel]="selectedYear">-->
<!--      @for(year of years; track year) {-->
<!--        <mat-option [value]="year.value">{{ year.value }}</mat-option>-->
<!--      }-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field class="input-list">-->
<!--    <mat-label>Month</mat-label>-->
<!--    <mat-select [ngModel]="selectedMonth">-->
<!--      @for(month of months; track month) {-->
<!--        <mat-option [value]="month.value">{{ month.viewValue }}</mat-option>-->
<!--      }-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--  <button mat-fab aria-label="filter button" (click)="onFilter()">-->
<!--    <span>Filter</span>-->
<!--    <mat-icon>filter_alt</mat-icon>-->
<!--  </button>-->
<!--</div>-->


<h2>Filters:</h2>
<div class="filter-section">
  <mat-form-field class="input-list">
    <mat-label>Year</mat-label>
    <mat-select [(ngModel)]="selectedYear">
      <mat-option *ngFor="let year of years" [value]="year.value">{{ year.value }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="input-list">
    <mat-label>Month</mat-label>
    <mat-select [(ngModel)]="selectedMonth">
      <mat-option *ngFor="let month of months" [value]="month.value">{{ month.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-fab aria-label="filter button" (click)="onFilter()">
    <span>Filter</span>
    <mat-icon>filter_alt</mat-icon>
  </button>
</div>
