<mat-toolbar color="primary">
  <span>Psymed</span>
  <span class="spacer"></span>

  <!-- Navigation Links -->
  <ng-container *ngFor="let option of options">
    <a mat-button [routerLink]="option.path">{{ option.title }}</a>
  </ng-container>

  <!-- Notification Button -->
  <button mat-icon-button [matMenuTriggerFor]="menu" (click)="viewNotifications()">
    <mat-icon>notifications</mat-icon>

    <!-- Badge for showing new appointments count -->
    <span *ngIf="newAppointmentsCount > 0">
      <mat-badge [matBadge]="newAppointmentsCount" matBadgeOverlap="false"></mat-badge>
    </span>
  </button>

  <!-- Notification Menu -->
  <mat-menu #menu="matMenu">
    <ng-container *ngIf="appointments.length > 0; else noAppointments">
      <!-- Iterate over the fetched appointments -->
      <button mat-menu-item *ngFor="let appointment of appointments">
        {{ appointment.patientName }} - {{ appointment.appointmentDate | date:'short' }}
      </button>
    </ng-container>

    <!-- Fallback when no appointments are available -->
    <ng-template #noAppointments>
      <button mat-menu-item>No new notifications</button>
    </ng-template>
  </mat-menu>
</mat-toolbar>
