<div class="page-background" *ngIf="role === '1' || role === '2'">
  <!-- Professional Information Card -->
  <mat-card *ngIf="isProfessional" class="professional-card">
    <!-- Professional Information Fields -->
    <mat-card-content class="description-content">
      <div class="personal-info">
        <p>{{"pages.profile.title" | translate}}</p>
      </div>
      <div class="info-field">
        <p><strong>{{"pages.profile.dni" | translate}}:</strong></p>
        <p>{{ professional?.dni }}</p>
      </div>
      <div class="info-field">
        <p><strong>{{"pages.profile.phone" | translate}}:</strong></p>
        <p>{{ professional?.phone }}</p>
      </div>
      <div class="info-field">
        <p><strong>{{"pages.profile.email" | translate}}:</strong></p>
        <p>{{ professional?.email }}</p>
      </div>
      <div class="info-field">
        <p><strong>{{"pages.profile.address" | translate}}:</strong></p>
        <p>{{ professional?.address }}</p>
      </div>
      <div class="info-field">
        <p><strong>{{"pages.profile.birthday" | translate}}:</strong></p>
        <p>{{ professional?.birthday }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Patient Information Card -->
  <mat-card *ngIf="isPatient" class="patient-card">
    <!-- Patient Information Fields -->
    <mat-card-content class="description-content">
      <div class="personal-info">
        <p>{{"pages.profile.title" | translate}}</p>
      </div>
      <div class="info-field">
        <p><strong>{{"pages.profile.dni" | translate}}:</strong></p>
        <p>{{ patient?.dni }}</p>
      </div>
      <div class="info-field">
        <p><strong>{{"pages.profile.phone" | translate}}:</strong></p>
        <p>{{ patient?.phone }}</p>
      </div>
      <div class="info-field">
        <p><strong>{{"pages.profile.email" | translate}}:</strong></p>
        <p>{{ patient?.email }}</p>
      </div>
      <div class="info-field">
        <p><strong>{{"pages.profile.address" | translate}}:</strong></p>
        <p>{{ patient?.address }}</p>
      </div>
      <div class="info-field">
        <p><strong>{{"pages.profile.birthday" | translate}}:</strong></p>
        <p>{{ patient?.birthday }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
