mat-list {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 8px;
}

.container-tittle{
  color: white;
  background-color: rgb(26, 115, 232);
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}
