<mat-card class="register-card">
  <mat-card-title class="title">{{ 'register.title' | translate }}</mat-card-title>

  <!-- Form for registration -->
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="first-name-field">
      <mat-label>{{ 'register.firstName' | translate }}</mat-label>
      <input matInput formControlName="firstName" type="text" [placeholder]="'register.placeholder.firstName' | translate">
      <mat-error *ngIf="registerForm.get('firstName')?.hasError('required')">{{ 'register.error.firstNameRequired' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="last-name-field">
      <mat-label>{{ 'register.lastName' | translate }}</mat-label>
      <input matInput formControlName="lastName" type="text" [placeholder]="'register.placeholder.lastName' | translate">
      <mat-error *ngIf="registerForm.get('lastName')?.hasError('required')">{{ 'register.error.lastNameRequired' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="street-field">
      <mat-label>{{ 'register.street' | translate }}</mat-label>
      <input matInput formControlName="street" type="text" [placeholder]="'register.placeholder.street' | translate">
      <mat-error *ngIf="registerForm.get('street')?.hasError('required')">{{ 'register.error.streetRequired' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="city-field">
      <mat-label>{{ 'register.city' | translate }}</mat-label>
      <input matInput formControlName="city" type="text" [placeholder]="'register.placeholder.city' | translate">
      <mat-error *ngIf="registerForm.get('city')?.hasError('required')">{{ 'register.error.cityRequired' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="country-field">
      <mat-label>{{ 'register.country' | translate }}</mat-label>
      <input matInput formControlName="country" type="text" [placeholder]="'register.placeholder.country' | translate">
      <mat-error *ngIf="registerForm.get('country')?.hasError('required')">{{ 'register.error.countryRequired' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="email-field">
      <mat-label>{{ 'register.email' | translate }}</mat-label>
      <input matInput formControlName="email" type="email" [placeholder]="'register.placeholder.email' | translate">
      <mat-error *ngIf="registerForm.get('email')?.hasError('required')">{{ 'register.error.emailRequired' | translate }}</mat-error>
      <mat-error *ngIf="registerForm.get('email')?.hasError('email')">{{ 'register.error.emailInvalid' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="username-field">
      <mat-label>{{ 'register.username' | translate }}</mat-label>
      <input matInput formControlName="username" type="text" [placeholder]="'register.placeholder.username' | translate">
      <mat-error *ngIf="registerForm.get('username')?.hasError('required')">{{ 'register.error.usernameRequired' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="password-field">
      <mat-label>{{ 'register.password' | translate }}</mat-label>
      <input matInput formControlName="password" type="password" [placeholder]="'register.placeholder.password' | translate">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility($event)">
        <mat-icon>visibility_off</mat-icon>
      </button>
      <mat-error *ngIf="registerForm.get('password')?.hasError('required')">{{ 'register.error.passwordRequired' | translate }}</mat-error>
    </mat-form-field>

    <!-- Register Button in a separate row -->
    <div class="register-button-container">
      <button mat-flat-button color="primary" type="submit" class="register-button">{{ 'register.button' | translate }}</button>
    </div>
  </form>

  <!-- Forgot Password Link -->
  <div class="extra-links">
    <button mat-button color="primary" (click)="onBackToSignUpClick()">
      {{ 'register.backToLogin' | translate }}
    </button>
  </div>

</mat-card>
