<mat-card class = "data-panel" appearance="outlined">
  <mat-card-header>
    <div style="width: 50em;">
      <div style="padding-bottom: 0.5em">
        <mat-card-title>{{ sessionNote.title }}</mat-card-title>
        <mat-card-content style="padding: 0" class="content">
          <p>{{"pages.appointments.note.data.description" | translate }}: {{ sessionNote.description }}</p>
          <p>{{"pages.appointments.note.data.date" | translate }}: {{ sessionNote.date }}</p>
        </mat-card-content>
      </div>

      <mat-card-actions style="padding: 0" >
        <button mat-button color="warning" (click)="openDialog() ">{{"pages.appointments.note.data.button" | translate }}</button>
      </mat-card-actions>
    </div>
  </mat-card-header>
</mat-card>
