<div class="appointment-list">
  <h2>{{"pages.patient-management.actions.appointment.title" | translate }}</h2>
  <div class="card-container">
    <div *ngFor="let session of dataSource.data" class="session-card">
      <div class="appointment-details">
        <p class="date">{{ session.appointmentDate | date: 'fullDate' }}</p>
        <p class="time">
          {{ session.appointmentDate | date: 'shortTime' }} -
          {{ calculateEndTime(session.appointmentDate, session.sessionTime) }}
        </p>
      </div>
      <div class="professional-details">
        <p><strong>{{"pages.patient-management.actions.appointment.data.patient" | translate }}:</strong> {{ session.patient.name }} {{ session.patient.lastName }}</p>
        <p>{{"pages.patient-management.actions.appointment.data.therapy" | translate }}</p>
      </div>
      <button mat-raised-button color="primary" (click)="redirectToTask(session.id)">{{"pages.patient-management.actions.appointment.data.tasks" | translate}}</button>
    </div>
  </div>
</div>
