<div class="page-background" *ngIf="role === 'ROLE_PROFESSIONAL' || role === 'ROLE_PATIENT'">
  <!-- Professional Information Card -->
  <mat-card *ngIf="isProfessional" class="professional-card">
    <!-- Profile Image Container -->
    <div class="profile-image-container">
      <img
        [src]="professional?.image ? professional?.image : '/assets/img/default-placeholder.png'"
        alt="{{ professional?.name }}'s photo"
        class="profile-image"
      />
    </div>

    <!-- Professional Name -->
    <mat-card-title class="professional-name">
      Dr. {{ professional?.name }} {{ professional?.lastName }}
    </mat-card-title>

    <!-- Professional Description -->
    <mat-card-content class="description-content">
      <p>{{ professional?.description }}</p>
    </mat-card-content>
  </mat-card>

  <!-- Patient Information Card -->
  <mat-card *ngIf="isPatient" class="patient-card">
    <!-- Profile Image Container -->
    <div class="profile-image-container">
      <img
        [src]="patient?.image ? patient?.image : '/assets/img/default-placeholder.png'"
        alt="{{ patient?.name }}'s photo"
        class="profile-image"
      />
    </div>

    <!-- Patient Name -->
    <mat-card-title class="patient-name">
      {{ patient?.name }} {{ patient?.lastName }}
    </mat-card-title>

    <!-- Patient Description -->
    <mat-card-content class="description-content">
      <p>{{ patient?.description }}</p>
    </mat-card-content>
  </mat-card>
</div>
