<form class="task-form-card" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <h4>{{"pages.appointments.tasks.form.form-title" | translate}}</h4>

  <mat-form-field class="task-form-title-card" appearance="fill">
    <mat-label>{{"pages.appointments.tasks.form.title" | translate}}</mat-label>
    <input matInput formControlName="title" required>
    <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
      {{"Tittle cant be empty" | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="task-form-description-card" appearance="fill">
    <mat-label>{{"pages.appointments.tasks.form.description" | translate}}</mat-label>
    <textarea matInput formControlName="description" required></textarea>
    <mat-error *ngIf="taskForm.get('description')?.hasError('required')">
      {{"Description Cant be empty" | translate}}
    </mat-error>
  </mat-form-field>

  <button class="task-form-create-button" mat-raised-button color="primary" type="submit">
    {{"pages.appointments.tasks.form.button" | translate}}
  </button>
</form>
