.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-container mat-form-field {
  width: 220px;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 12px 0;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}

.example-form-fields {
  display: flex;
  align-items: flex-start;
}

.form-container {
  background-color: #f5f5f5; /* Light grey background */
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto; /* Center the form horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a slight shadow for depth */
}

mat-form-field {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}

button {
  width: 100%; /* Make the button fill the width of the form */
}
