<div class="mood-form">
  <h1 class="title">Mood Form</h1>
  <div class="container">
    <h2 class="subtitle">Select your mood</h2>
    <div class="images">
      <img src="https://i.postimg.cc/2yvZVLTd/sosad.jpg" alt="So Sad" (click)="selectMood(1)">
      <img src="https://i.postimg.cc/8CKW3Sjv/sad.jpg" alt="Sad" (click)="selectMood(2)">
      <img src="https://i.postimg.cc/6Q5nY35w/calm.jpg" alt="calm" (click)="selectMood(3)">
      <img src="https://i.postimg.cc/2SxnQvY2/happy.jpg" alt="Happy" (click)="selectMood(4)">
      <img src="https://i.postimg.cc/44M7VP9J/sohappy.jpg" alt="So Happy" (click)="selectMood(5)">
    </div>
  </div>
  <div class="date">
    {{ currentDate }}
  </div>
</div>
