.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

mat-card {
  width: 400px;
  text-align: center;
  color: black;
  background-color: skyblue;
}

button {
  transition: background-color 0.3s ease;
  background-color: rgb(26, 115, 232);
  color: white; /* Makes the button rectangular */
  padding-bottom: 0px;
  border-radius: 10px;
}

button:hover {
  background-color: skyblue;
}
