<div class="card-container">
  <mat-card>
    <mat-card-content>
      <p>If you are a mental health professional and wish to manage your patients and access your tools, select this option.</p>
      <button (click)="sendRolidToStore('1')">
        <h3>Select</h3>
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <p>If you are a patient and want to review your medical history, communicate with your doctor, or schedule an appointment, select this option.</p>
      <button (click)="sendRolidToStore('2')">
        <h3>Select</h3>
      </button>
    </mat-card-content>
  </mat-card>
</div>
