<div class="form-container">
  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <!-- Appointment Date Field -->
    <mat-form-field appearance="fill">
      <mat-label>{{ "pages.patient-management.actions.appointment.input.appointment-date" | translate }}</mat-label>
      <input matInput [matDatepicker]="appointmentDatePicker" formControlName="appointmentDate" required>
      <mat-datepicker-toggle matSuffix [for]="appointmentDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #appointmentDatePicker></mat-datepicker>
      <mat-error *ngIf="appointmentForm.get('appointmentDate')?.invalid">
        {{ "pages.patient-management.actions.appointment.error.appointment-date-required" | translate }}
      </mat-error>
    </mat-form-field>

    <!-- Appointment Time Field -->
    <mat-form-field appearance="fill">
      <mat-label>{{ "pages.patient-management.actions.appointment.input.appointment-time" | translate }}</mat-label>
      <input matInput formControlName="appointmentTime" type="time" required>
      <mat-error *ngIf="appointmentForm.get('appointmentTime')?.invalid">
        {{ "pages.patient-management.actions.appointment.error.appointment-time-required" | translate }}
      </mat-error>
    </mat-form-field>

    <!-- Session Time Field -->
    <mat-form-field appearance="fill">
      <mat-label>{{ "pages.patient-management.actions.appointment.input.session-time" | translate }}</mat-label>
      <input matInput formControlName="sessionTime" type="number" required>
      <mat-error *ngIf="appointmentForm.get('sessionTime')?.invalid">
        {{ "pages.patient-management.actions.appointment.error.session-time-required" | translate }}
      </mat-error>
    </mat-form-field>

    <!-- Submit Button -->
    <button mat-raised-button color="primary" type="submit">
      {{ "pages.patient-management.actions.appointment.input.add-button" | translate }}
    </button>
  </form>
</div>
