<div class="form-container">
  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">

    <!-- Appointment Date Field -->
    <mat-form-field appearance="fill">
      <mat-label>Appointment Date</mat-label>
      <input matInput [matDatepicker]="appointmentDatePicker" formControlName="appointmentDate" required>
      <mat-datepicker-toggle matSuffix [for]="appointmentDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #appointmentDatePicker></mat-datepicker>
      <mat-error *ngIf="appointmentForm.get('appointmentDate')?.invalid">
        Appointment Date is required
      </mat-error>
    </mat-form-field>

    <!-- Appointment Time Field -->
    <mat-form-field appearance="fill">
      <mat-label>Appointment Time</mat-label>
      <input matInput formControlName="appointmentTime" type="time" required>
      <mat-error *ngIf="appointmentForm.get('appointmentTime')?.invalid">
        Appointment Time is required
      </mat-error>
    </mat-form-field>

    <!-- Session Time Field -->
    <mat-form-field appearance="fill">
      <mat-label>Session Time (hours)</mat-label>
      <input matInput formControlName="sessionTime" type="number" required>
      <mat-error *ngIf="appointmentForm.get('sessionTime')?.invalid">
        Session Time is required and must be at least 1 hour
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</div>
