<div class="clinical-card">
  <h3>{{"pages.patient-management.actions.clinical-history.main.title" | translate }}</h3>
  <form>
    <div class="form-group">
      <label>{{"pages.patient-management.actions.clinical-history.main.form.patient-name" | translate }}:</label>
      <input type="text" [value]="patient.name" readonly>
    </div>
    <div class="form-group">
      <label>{{"pages.patient-management.actions.clinical-history.main.form.background" | translate }}:</label>
      <input type="text" [value]="clinicalHistory.background" readonly>
    </div>
    <div class="form-group">
      <label>{{"pages.patient-management.actions.clinical-history.main.form.consultation-reason" | translate }}:</label>
      <input type="text" [value]="clinicalHistory.consultationReason" readonly>
    </div>
    <div class="form-group">
      <label>{{"pages.patient-management.actions.clinical-history.main.form.symptoms" | translate }}:</label>
      <textarea [value]="clinicalHistory.symptoms" readonly></textarea>
    </div>
    <div class="form-group">
      <label>{{"pages.patient-management.actions.clinical-history.main.form.created-at" | translate }}:</label>
      <input type="text" [value]="clinicalHistory.date" readonly>
    </div>
    <button type="button" (click)="redirectToAdminEdit()">{{"pages.patient-management.actions.clinical-history.main.form.buttons.edit" | translate }}</button>
    <button type="button" (click)="redirectToDiagnostic()">{{"pages.patient-management.actions.clinical-history.main.form.buttons.diagnostic" | translate }}</button>
  </form>
</div>
