<mat-card class="forget-password-card">
  <mat-card-title class="title">{{ 'forgot-password.title' | translate }}</mat-card-title>

  <!-- Form for resetting password -->
  <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="username-field">
      <mat-label>{{ 'forgot-password.username' | translate }}</mat-label>
      <input
        matInput
        formControlName="username"
        type="text"
        [placeholder]="'forgot-password.placeholder.username' | translate"
      />
      <mat-error *ngIf="forgetPasswordForm.get('username')?.hasError('required')">
        {{ 'forgot-password.error.usernameRequired' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="password-field">
      <mat-label>{{ 'forgot-password.newPassword' | translate }}</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        [placeholder]="'forgot-password.placeholder.newPassword' | translate"
      />
      <mat-error *ngIf="forgetPasswordForm.get('password')?.hasError('required')">
        {{ 'forgot-password.error.passwordRequired' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="confirm-password-field">
      <mat-label>{{ 'forgot-password.confirmPassword' | translate }}</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        type="password"
        [placeholder]="'forgot-password.placeholder.confirmPassword' | translate"
      />
      <mat-error *ngIf="forgetPasswordForm.get('confirmPassword')?.hasError('required')">
        {{ 'forgot-password.error.confirmPasswordRequired' | translate }}
      </mat-error>
      <mat-error *ngIf="forgetPasswordForm.hasError('passwordMismatch')">
        {{ 'forgot-password.error.passwordMismatch' | translate }}
      </mat-error>
    </mat-form-field>

    <!-- Reset Password Button -->
    <div class="reset-password-button-container">
      <button mat-flat-button color="primary" type="submit" class="reset-password-button">
        {{ 'forgot-password.button' | translate }}
      </button>
    </div>
  </form>

  <!-- Back to Sign Up Button -->
  <div class="toggle-link">
    <button mat-button color="primary" (click)="backToSignUp()">
      {{ 'forgot-password.backToSignUp' | translate }}
    </button>
  </div>
</mat-card>
