<div class="task-card">
  <div class = "data-panel">
    <p>{{ "pages.appointments.tasks.data.title" | translate }}: {{ this.task.title }}</p>
    <p>{{ "pages.appointments.tasks.data.description" | translate }}: {{ this.task.description }}</p>
    <p>{{ "pages.appointments.tasks.data.created-at" | translate }}: {{ this.task.createdAt }}</p>
    <p>{{ "pages.appointments.tasks.data.updated-at" | translate }}: {{ this.task.updatedAt }}</p>

    <div *ngIf="(role$ | async) === '1'">
      <img *ngIf="this.task.status === 0" src="path/to/image0.jpg" alt="Status 0 Image">
      <img *ngIf="this.task.status === 1" src="path/to/image1.jpg" alt="Status 1 Image">
    </div>
    <div *ngIf="(role$ | async) === '2'">
      <label>
        <input type="checkbox" [(ngModel)]="this.task.status" />
        {{ "pages.appointments.tasks.data.toggle-status" | translate }}
      </label>
    </div>
  </div>
  <div class="option-panel">
    <button (click)="deleteThisCard(this.task.id)">{{ "pages.appointments.tasks.data.delete-button" | translate }}</button>

  </div>
</div>
