<div class="diagnostic-edit-form">
  <h3>Edit Diagnostic</h3>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="diagnostic.name" name="name">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea style="max-height: 5em; max-width: 30em;" id="description" [(ngModel)]="diagnostic.description" name="description"></textarea>
    </div>
    <button type="submit" (click)="save()" >Update</button>
  </form>
</div>
