<div class="authentication-container">
  <!-- Show Login Form -->
  <ng-container *ngIf="activeForm === 'login'; else otherForms">
    <app-login-form
      (forgotPasswordClicked)="showForgotPasswordForm()"
      (registerClicked)="showRegisterForm()">
    </app-login-form>
  </ng-container>

  <!-- Other Forms -->
  <ng-template #otherForms>
    <ng-container *ngIf="activeForm === 'forgotPassword'">
      <app-forget-password-form (backToSignUpClicked)="showLoginForm()"></app-forget-password-form>
    </ng-container>
    <ng-container *ngIf="activeForm === 'register'">
      <app-register-form (backToSignUpClicked)="showLoginForm()"></app-register-form>
    </ng-container>
  </ng-template>
</div>
