<div class="medication-list">
  <mat-card *ngFor="let medication of medications" class="medication-card">
    <mat-card-header>
      <mat-card-title>{{ medication.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{"pages.prescription.description" | translate}}: {{ medication.description }}</p>
      <p>{{"pages.prescription.quantity" | translate}}: {{ medication.quantity }}</p>
      <p>{{"pages.prescription.start-date" | translate}} Date: {{ medication.startDate | date }}</p>
      <p>{{"pages.prescription.end-date" | translate}}: {{ medication.endDate | date }}</p>
      <p>{{"pages.prescription.interval" | translate}}: {{ medication.interval }}</p>
    </mat-card-content>
  </mat-card>
</div>

