.medication-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinea las tarjetas a la derecha */
  gap: 16px;
  padding: 16px;
}

.medication-card {
  width: 40em; /* Ajusta el tamaño de las tarjetas */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
