<!-- clinical-history-form.component.html -->
<form [formGroup]="clinicalHistoryForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Background</mat-label>
    <input matInput formControlName="Background" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Consultation Reason</mat-label>
    <input matInput formControlName="consultationReason" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Symptoms</mat-label>
    <input matInput formControlName="symptoms" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput formControlName="date" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Save</button>
</form>
