<div class="clinical-form">
  <form [formGroup]="clinicalHistoryForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="clinical-history-form">
      <mat-label>Background</mat-label>
      <input matInput #message maxlength="256" placeholder="Please enter the patient background...">
    </mat-form-field>

    <mat-form-field class="clinical-history-form">
      <mat-label>Consultation Reason</mat-label>
      <input matInput #message maxlength="256" placeholder="Please enter consoultation Reason..">
    </mat-form-field>

    <mat-form-field class="symptoms">
      <mat-label>Symptoms</mat-label>
      <input matInput #message maxlength="256" placeholder="Please enter patient symptoms..">
    </mat-form-field>

  </form>
</div>
